#cuerpo{
	background-color: #D3D7DC;
	width: 40%;
}

#cuerpo h1{
	font-size: 2em;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}


#cuerpo .nombre{
	font-size: 1.1em;
	font-style: italic;
}

#total{
	font-size: 0.8em;
	font-style: oblique;
}

#boton{
	text-align: center;
	padding: 15px;
}

button {
	border: none;
	background: #577630;
	color: #ffffff;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
	text-align: center;
}


button:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 42px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 2s ease;
}
button:hover:before {
 	width: 100%;
}



.tb-1 {
  border-collapse: separate;
  border-spacing:  10px;
}

.tg  {
	border-collapse:collapse;
	border-spacing:0;
}
.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	font-weight: bold;
	word-break:normal;
	border-top-width:1px;
	border-bottom-width:1px;
	}
.tg th{font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	border-top-width:1px;
	border-bottom-width:1px;
}
.ts{
	width: 100%;
}
.ts td{
	text-align: center;
}